<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projeto.bookfast.bookfast">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:layout_gravity="center"
        android:allowBackup="true"
        android:icon="@drawable/bookfast"
        android:label="Book Fast"
        android:roundIcon="@drawable/bookfast"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".pessoa.gui.TelaLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pessoa.gui.TelaInicialAdministrador" />
        <activity android:name=".pessoa.gui.TelaRecuperarSenha" />
        <activity android:name=".pessoa.gui.TelaCadastrarUsuario" />
        <activity android:name=".pessoa.gui.TelaInicialUsuarioComum" />
        <activity android:name=".livro.gui.TelaLivroAdministrador" />
        <activity android:name=".pessoa.gui.TelaUsuarioAdministrador" />
        <activity android:name=".livro.gui.TelaCadastrarLivroAdministrador" />
        <activity android:name=".livro.gui.TelaListaTodosLivrosAdm" />
        <activity android:name=".livro.gui.TelaEditarLivroAdministrador" />
        <activity android:name=".livro.gui.TelaQRcode" />
        <activity android:name=".pessoa.gui.TelaInformacaoUsuario" />
        <activity android:name=".pessoa.gui.TelaEditaInfoUsuario" />
        <activity android:name=".pessoa.gui.TelaRemoverLivro" />
        <activity android:name=".pessoa.gui.TelaAlugarLivro" />
        <activity android:name=".pessoa.gui.TelaListarTodosLivrosUusario"></activity>
    </application>
</manifest>