<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projeto.bookfast.bookfast">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:layout_gravity="center"
        android:allowBackup="true"
        android:icon="@drawable/bookfast"
        android:label="Book Fast"
        android:roundIcon="@drawable/bookfast"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".gui.TelaLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gui.TelaInicialAdministrador" />
        <activity android:name=".gui.TelaRecuperarSenha" />
        <activity android:name=".gui.TelaCadastrarUsuario" />
        <activity android:name=".gui.TelaInicialUsuarioComum" />
        <activity android:name=".gui.TelaLivroAdministrador" />
        <activity android:name=".gui.TelaUsuarioAdministrador" />
        <activity android:name=".gui.TelaCadastrarLivroAdministrador" />
        <activity android:name=".gui.TelaListaLivros" />
        <activity android:name=".gui.TelaEditarLivroAdministrador"></activity>
    </application>

</manifest>